/***** CONTACT PAGE *****/
#triangle {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 60px solid $bg-grey;
  margin: 0 auto;
}
.contact-form {
  background-color: $bg-grey;
  width: 50%;
}

@media all and (max-width:1200px){
  .contact-form {
    width: 70%;
  }
}

@media all and (max-width:600px){
  .contact-form {
    width: 90%;
  }
}