// Body
$bg-dark: #8d949b;
$bg-footer: #4a4e52;
$bg-grey: #f3eff0;
$bg-grey-matte: #dbd1d1;
$bg-light: #fff;

// Colors
$strong-pink: #f19dac;
$light-pink: #f1e5e7;
$very-light-pink: #f3eff0;
$button: #f19dac;
$grey: #8d949b;
$sidebar: rgba(248, 249, 250, 0.9);

// Typography
$text-color: #545454;
$font-logo: 'Gugi', cursive;
$font-title: 'Cormorant Garamond', serif;
$font-text: 'Ubuntu', sans-serif;

$font-size-base: 0.9rem;
$line-height-base: 1.6;



